/* 
? AUTHOR NAME : ANIK ISLAM RONI
? TEMPLETE NAME : SCHOOL SITE
? VERSION: 1.0.0
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ! ROOT VALIABLES */
:root{
    --black-color: #000;
    --white-color: #fff;
    --hover-color:  #3572EF;
    --btn-hover: #0b9011;
    --hero-bg: #0f8cc24a;

}
li{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px ;
}
/* HEADER SECTION START */
.header-section{
    background-color: #ffffff;
    
}
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-left img{
    width: 110px;
}
/* .nav-menu{
    display: flex;
    align-items: center;
} */
ul li{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    position: relative;
    list-style: none; 
}
nav ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    padding: 0 25px;
    font-weight: 500;
    transition: 0.2s;
    
}
nav ul li a:hover{
    color: var(--hover-color);
}
 
ul li ul.submenu li{
    display: block;
    text-align: left;
}
ul li ul.submenu{
        position: absolute;
        min-width: 250px;
        top: calc(100% + 15px);
        text-align: left;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
    
    }
    nav ul li ul li a{
        padding: 10px 8px;
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: left;
    }
    
    nav ul li:hover ul{
        top: 100%;
        opacity: 1;
        visibility: visible;
    }


.header-right .btn a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #3572EF;
    color: var(--white-color);
    transition: all 0.2s;
}
.header-right .btn a:hover{
    background-color: var(--btn-hover);
}
.header-right{
    display: flex;
    align-items: center; 
}
.header-right .bar{
    background-color: #DDDDDD;
    padding: 5px 12px;
    font-size: 25px;
    margin-left: 8px;
    border-radius: 4px;
    display: none;
}
.close{
    background-color: #DDDDDD;
    padding: 5px 12px;
    font-size: 30px;
    margin-left: 8px;
    border-radius: 4px;
    margin-bottom: 25px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 500px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.807);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.2s;
    /* padding: 70px 0; */
    display: none;
    
    
}

/* HEADER SECTION END */



/*HERO SECTION START */
.hero-section{
    /* background-image: url(../img/backg/round.jpg); */
    background-position: cover;
    /* background-repeat: no-repeat; */
    background-color: var(--hero-bg);
    overflow: hidden;
   

}
.hero-row{
    display: flex;
    padding: 50px 30px 0 30px;
    gap: 50px;
    /* align-items: center; */
    justify-content: center;
}
.hero-left {
    align-self: center;
}
.hero-left .title h1{
    font-size: 50px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 50px;
}
.hero-left .details p{
    font-size: 20px;
    margin-top: 25px;
    width: 730px;
    text-align: justify;
    margin-bottom: 50px;

}
.hero-left .btn a span i{
    font-size: 22px;
    margin-right: 10px; 
}
.hero-left .btn a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    border: 2px solid var(--white-color);
    padding: 12px 25px;
    display: inline-block;
    transition:  all 0.2s;
}

.hero-left .btn a:hover {
    color: var(--white-color);
    background-color: var(--btn-hover);
}
.hero-right .hero-img{
    width: 500px;
}
/*HERO SECTION END */



/* SECTION START */
/* SECTION END */

